// Colors

$white: #fff;
$black: #000;
$gray: #5b5b5b;

$blue-dark: #084676;
$blue: #4ea5b8;

// Screen size definitions

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Mega Large tablets and desktops
$screen-megaxl-min: 1400px;